{{ define "main" }}
	<main role="main">

		      <article id="webslides">

		        <!-- Quick Guide
		          - Each parent <section> in the <article id="webslides"> element is an individual slide.
		          - Vertical sliding = <article id="webslides" class="vertical">
		          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
		        -->

		        <section class="bg-black-blue aligncenter">
		          <span class="background dark" style="background-image:url('https://source.unsplash.com/Zq_K89I9E-8/)"></span>
		          <!--.wrap = container (width: 90%) -->
		          <div class="wrap">
		            <p class="text-subtitle">WebSlides Tutorial</p>
		            <h1 class="text-landing">Media</h1>
		            <p class="text-symbols">* * *</p>
		            <p>
		              <a class="button ghost" href="https://github.com/webslides/webslides" title="Download WebSlides">
		                <svg class="fa-github">
		                  <use xlink:href="#fa-github"></use>
		                </svg>
		                Free Download
		              </a>
		            </p>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section class="aligncenter">
		          <div class="wrap">
		            <h2><strong>A quick reference guide for beginners</strong></h2>
		            <p class="text-intro">Videos, images, maps, and charts.</p>
		            <ul class="flexblock border">
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=3">Images</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=4">Background Images</a></li>
		                    <li><a target="_blank" href="#slide=9">Overlays (light and dark)</a></li>
		                    <li><a target="_blank" href="#slide=11">500+ SVG Icons</a></li>
		                    <li><a target="_blank" href="#slide=13">Logos</a></li>
		                    <li><a target="_blank" href="#slide=14">Avatars</a></li>
		                    <li><a target="_blank" href="#slide=15">Devices</a></li>
		                    <li><a target="_blank" href="#slide=16">Screenshots</a></li>
		                  </ol>
		                </div>
		              </li>
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=17">Videos</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=18">Background Videos (hosted & overlay)</a></li>
		                    <li><a target="_blank" href="#slide=22">Embedding YouTube videos</a></li>
		                    <li><a target="_blank" href="#slide=24">Fullscreen YouTube videos</a></li>
		                    <li>
		                      <a target="_blank" href="#slide=26"><strong>YouTube API:</strong></a>
		                      <ol>
		                        <li><a target="_blank" href="#slide=27">Autoplay, loop, mute, and no controls</a></li>
		                        <li><a target="_blank" href="#slide=30">Fullscreen video</a></li>
		                        <li><a target="_blank" href="#slide=32">Background video with overlay</a></li>
		                      </ol>
		                    </li>
		                  </ol>
		                </div>
		              </li>
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=34">Maps & Charts</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=35">Embedding maps</a></li>
		                    <li><a target="_blank" href="#slide=36">Embedding the map in a card</a></li>
		                    <li><a target="_blank" href="#slide=37">Fullscreen maps</a></li>
		                    <li><a target="_blank" href="#slide=38">Embedding charts</a></li>
		                  </ol>
		                </div>
		              </li>
		            </ul>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <div class="wrap aligncenter">
		            <h3>
		              <svg class="fa-camera">
		                <use xlink:href="#fa-camera"></use>
		              </svg>
		              Insert images wherever you want
		            </h3>
		            <p class="text-intro">15 different positions.</p>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <div class="wrap">
		            <h3>15 Different Backgrounds</h3>
		            <ul class="text-cols">
		              <li><strong>.background</strong> (fullscreen)</li>
		              <li>.background-top (cover)</li>
		              <li>.background-bottom (cover)</li>
		              <li>.background.light (opacity)</li>
		              <li>.background.dark (opacity)</li>
		              <li>.background-center</li>
		              <li>.background-center-top</li>
		              <li>.background-center-bottom</li>
		              <li>.background-left</li>
		              <li>.background-left-top</li>
		              <li>.background-left-bottom</li>
		              <li>.background-right</li>
		              <li>.background-right-top</li>
		              <li>.background-right-bottom</li>
		              <li>.background-anim (animated)</li>
		            </ul>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <div class="wrap size-50">
		            <h4>
		              <svg class="fa-camera">
		                <use xlink:href="#fa-camera"></use>
		              </svg>
		              .background = Fullscreen Backgrounds
		            </h4>
		            <p class="text-intro"><a href="https://source.unsplash.com/">How to embed Unsplash photos? &rarr;</a></p>
		            <pre>&lt;section&gt;
		  &lt;span class="background" style="background-image:url('https://source.unsplash.com/nwfuaYecNUs/')"&gt;&lt;/span&gt;
		  &lt;div class="wrap"&gt;
		    &lt;h1&gt;Slide&lt;/h1&gt;
		  &lt;/div&gt;
		&lt;/section&gt;</pre>
		            <p>
		              <svg class="fa-info">
		                <use xlink:href="#fa-info"></use>
		              </svg>
		              Position .background outside of .wrap container.
		            </p>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <span class="background-right-bottom" style="background-image:url('../static/images/iphone-hand.png')"></span>
		          <div class="wrap">
		            <div class="content-left">
		              <h3>.background-(position)</h3>
		              <p><code>.background-right-bottom</code></p>
		              <ul class="flexblock specs">
		                <li>
		                  <div>
		                    <svg class="fa-wifi">
		                      <use xlink:href="#fa-wifi"></use>
		                    </svg>
		                    <h2>Ultra-Fast WiFi</h2>
		                    Simple and secure file sharing.
		                  </div>
		                </li>
		                <li>
		                  <div>
		                    <svg class="fa-battery-full">
		                      <use xlink:href="#fa-battery-full"></use>
		                    </svg>
		                    <h2>All day battery life</h2>
		                    Your battery worries may be over.
		                  </div>
		                </li>
		                <li>
		                  <div>
		                    <svg class="fa-life-ring">
		                      <use xlink:href="#fa-life-ring"></use>
		                    </svg>
		                    <h2>Lifetime Warranty </h2>
		                    We'll fix it or if we can't, we'll replace it.
		                  </div>
		                </li>
		              </ul>
		            </div>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <span class="background-left-bottom" style="background-image:url('../static/images/iphone-hand.png')"></span>
		          <div class="wrap">
		            <div class="content-right">
		              <h3>.background-(position)</h3>
		              <p><code>.background-left-bottom</code></p>
		              <ul class="flexblock specs">
		                <li>
		                  <div>
		                    <svg class="fa-wifi">
		                      <use xlink:href="#fa-wifi"></use>
		                    </svg>
		                    <h2>Ultra-Fast WiFi</h2>
		                    Simple and secure file sharing.
		                  </div>
		                </li>
		                <li>
		                  <div>
		                    <svg class="fa-battery-full">
		                      <use xlink:href="#fa-battery-full"></use>
		                    </svg>
		                    <h2>All day battery life</h2>
		                    Your battery worries may be over.
		                  </div>
		                </li>
		                <li>
		                  <div>
		                    <svg class="fa-life-ring">
		                      <use xlink:href="#fa-life-ring"></use>
		                    </svg>
		                    <h2>Lifetime Warranty </h2>
		                    We'll fix it or if we can't, we'll replace it.
		                  </div>
		                </li>
		              </ul>
		            </div>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section class="aligncenter bg-black">
		          <span class="background anim" style="background-image:url('https://source.unsplash.com/n9WPPWiPPJw/')"></span>
		          <!--.wrap = container (width: 90%) -->
		          <div class="wrap">
		            <h2>.background.anim</h2>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section class="bg-black aligncenter">
		          <span class="background light" style="background-image:url('https://source.unsplash.com/1_CMoFsPfso/')"></span>
		          <div class="wrap size-50">
		            <h1 class="text-landing text-shadow">Opacity</h1>
		            <p><code>[class*="bg-"] > .background.light</code></p>
		            <pre>&lt;section class="bg-black"&gt;
		  &lt;span class="background light" style="background-image:url('https://source.unsplash.com/1_CMoFsPfso/')"&gt;&lt;/span&gt;
		  &lt;div class="wrap"&gt;
		    &lt;h1&gt;Slide&lt;/h1&gt;
		  &lt;/div&gt;
		&lt;/section&gt;</pre>
		          </div>
		        </section>
		        <section class="bg-black aligncenter">
		          <span class="background dark" style="background-image:url('https://source.unsplash.com/1_CMoFsPfso')"></span>
		          <div class="wrap size-50">
		            <h1 class="text-landing text-shadow">Opacity</h1>
		            <p><code>[class*="bg-"] > .background.dark</code></p>
		            <pre>&lt;section class="bg-black"&gt;
		  &lt;span class="background dark" style="background-image:url('https://source.unsplash.com/1_CMoFsPfso/')"&gt;&lt;/span&gt;
		  &lt;div class="wrap"&gt;
		    &lt;h1&gt;Slide&lt;/h1&gt;
		  &lt;/div&gt;
		&lt;/section&gt;</pre>
		          </div>
		        </section>
		        <section>
		          <div class="wrap size-50">
		            <p class="text-subtitle">Optional &middot; 500+ icons</p>
		            <h2>
		              <a href="http://fontawesome.io/icons/">
		                <svg class="fa-flag">
		                  <use xlink:href="#fa-flag"></use>
		                </svg>
		                Font Awesome
		              </a>
		              as SVG icons
		            </h2>
		            <pre>&lt;svg class="fa-flag"&gt;
			&lt;use xlink:href="#fa-flag"&gt;&lt;/use&gt;
		&lt;/svg&gt;</pre>
		            <p>How to change icons?</p>
		            <ol class="text-cols">
		              <li>Go to <a href="http://fontastic.me/">fontastic.me</a>.</li>
		              <li>Create a free account.</li>
		              <li>Select new icons.</li>
		              <li>Publish as SVG sprite.</li>
		              <li>Edit <strong>svg-icons.css</strong> and <strong>svg.icons.js</strong>.</li>
		            </ol>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section class="bg-green">
		          <div class="wrap">
		            <h3>ul.flexblock.metrics.border</h3>
		            <!-- li>a? Add blink = <ul class="flexblock metrics blink">-->
		            <ul class="flexblock metrics border">
		              <li> Founded
		                <span>2024</span>
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-users">
		                    <use xlink:href="#fa-users"></use>
		                  </svg>
		                </span>
		                24M Subscribers
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-line-chart">
		                    <use xlink:href="#fa-line-chart"></use>
		                  </svg>
		                </span>
		                Revenue: $16M
		              </li>
		              <li>
		                Monthly Growth
		                <span>64%</span>
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-building-o">
		                    <use xlink:href="#fa-building-o"></use>
		                  </svg>
		                </span>
		                8 Offices
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-smile-o">
		                    <use xlink:href="#fa-smile-o"></use>
		                  </svg>
		                </span>
		                48 Employees
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-usd">
		                    <use xlink:href="#fa-usd"></use>
		                  </svg>
		                </span>
		                EBITDA: $2,4M
		              </li>
		              <li>
		                <span>
		                  <svg class="fa-university">
		                    <use xlink:href="#fa-university"></use>
		                  </svg>
		                </span>
		                Bank: $32M
		              </li>
		            </ul>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <div class="wrap">
		            <h2>Transparent Logos</h2>
		            <p>
		              Change the color of a .svg/.png image using CSS. Images are property of their respective owners.
		            </p>
		            <hr>
		            <ul class="flexblock blink">
		              <li>
		                <a href="#" title="Block Link = .blink">
		                  <div>
		                    <img src="../static/images/logos/google.svg" alt="Google">
		                    <p><strong>Height recommended</strong>: 48px</p>
		                  </div>
		                </a>
		              </li>
		              <li>
		                <a href="#" title="Block Link = .blink">
		                  <div>
		                    <img class="blacklogo" src="../static/images/logos/airbnb.svg" alt="Airbnb">
		                    <p><code>img.blacklogo</code></p>
		                  </div>
		                </a>
		              </li>
		              <li>
		                <a href="#" title="Block Link = .blink">
		                  <div>
		                    <img class="graylogo" src="../static/images/logos/microsoft.svg" alt="Microsoft">
		                    <p><code>img.graylogo</code></p>
		                  </div>
		                </a>
		              </li>
		              <li class="bg-blue">
		                <a href="" title="Block Link = .blink">
		                  <div>
		                    <img class="whitelogo" src="../static/images/logos/netflix.svg" alt="Netflix">
		                    <p><code>img.whitelogo</code></p>
		                  </div>
		                </a>
		              </li>
		            </ul>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		        <section>
		          <!--.wrap = container (width: 90%) -->
		          <div class="wrap">
		            <blockquote class="text-quote">
		              <p>An avatar is the graphical representation of the user or the user's alter ego or character. The <a href="https://en.wikipedia.org/wiki/Avatar_(computing)">word avatar</a> originates in Hinduism.</p>
		              <p><cite> <a href="http://twitter.com/username/"><img class="avatar-56" src="../static/images/avatar.jpg" alt="Avatar"> @username</a>, .avatar-56</cite></p>
		            </blockquote>
		            <hr>
		            <p><code>img[class*="avatar-"]</code> (80, 72, 64, 56, 48, and 40).</p>
		          </div>
		          <!-- .end .wrap -->
		        </section>
		       
		      </article>
		    </main>
		    <!--main-->
		    <!-- Required -->
		    <script>
		      window.ws = new WebSlides();
		    </script>

{{ end }}
