{{ define "main" }}
<main role="main">
	<article id="webslides" class="">
		<!-- Quick Guide
			- Each parent <section> in the <article id="webslides"> element is an individual slide.
			- Vertical sliding = <article id="webslides" class="vertical">
			- <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
		-->

		<section class="bg-custom fullscreen" id="parra">
		 	<!--.wrap = container (width: 90%) -->
			<div class="wrap">
				<ul class="flexblock">
					<li>
							<a href="#2">
								<img class="avatar-custom" src="./img/test.png" alt="">
								<p class="text-apple text-pull-none ">lucy</p>
							</a>
					</li>
		    </ul>
				<ul class="flexblock">
					<li>
							<a href="#3">
								<img class="avatar-custom" src="./img/test.png" alt="">
								<p class="text-apple text-pull-none ">alberto</p>
							</a>
					</li>
					<li>
							<a href="#4">
								<img class="avatar-custom" src="./img/test.png" alt="">
								<p class="text-apple text-pull-none element">ramiro</p>
								<script type="text/javascript" src="./js/typed.js"></script>
								<script type="text/javascript">
									var typed = new Typed(".element", {
										typeSpeed: 100,
										backSpeed: 100,
										loop: true,
										backDelay: 700
});
								</script>
							</a>
					</li>
					<li>
							<a href="#5">
								<img class="avatar-custom" src="./img/test.png" alt="">
								<p class="text-apple text-pull-none ">stefano</p>
							</a>
					</li>
		    </ul>
				<ul class="flexblock">
					<li>
							<a href="#6">
								<img class="avatar-custom" src="./img/test.png" alt="">
								<p class="text-apple text-pull-none ">saige</p>
							</a>
					</li>
		    </ul>
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="lucy">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>lucy</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="alberto">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>alberto</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="ramiro">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>ramiro</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="stefano">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>stefano</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="saige">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>saige</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>

	</article>
	<!-- end article -->
</main>
<!-- end main -->

<!-- A global footer

 <footer role="contentinfo">
	<div class="wrap">
		<p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
	</div>
</footer>  -->

<!-- Required -->
<script src="https://parraperez.com/js/webslides.js"></script>
<script>
	window.ws = new WebSlides();
</script>
{{ end }}
