{{ define "main" }}
<main role="main">
	<article id="webslides" class="">
		<!-- Quick Guide
			- Each parent <section> in the <article id="webslides"> element is an individual slide.
			- Vertical sliding = <article id="webslides" class="vertical">
			- <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
		-->

		<section class="fullscreen parra">
 			<span class="bg-custom background-top " ></span>
			<!--.wrap = container (width: 90%) -->
			<div class="wrap fadeIn zoomIn">
				<ul class="flexblock">
					<li>
							<a href="#2">
								<img class="avatar-custom" src="./img/lucy.jpg" alt="">
								<div class="text-apple text-pull-none">
									<span id="typing_lucy" >
										<p>lucy</p>
									</span>
									<span id="typed_lucy"></span>
								</div>
								<script type="text/javascript">
									var typed = new Typed('#typed_lucy', {
    								stringsElement: "#typing_lucy",
										startDelay: 2000,
										typeSpeed: 150,
										fadeOut: true,
										showCursor: false ,
									  cursorChar: '|',
									  autoInsertCss: true,
									});
								</script>
							</a>
					</li>
		    </ul>
				<ul class="flexblock">
					<li>
							<a href="#3">
								<img class="avatar-custom" src="./img/berto.jpg" alt="">
								<div class="text-apple text-pull-none">
									<span id="typing_alberto" >
										<p>alberto</p>
									</span>
									<span id="typed_alberto"></span>
								</div>
								<script type="text/javascript">
									var typed = new Typed('#typed_alberto', {
    								stringsElement: "#typing_alberto",
										startDelay: 3000,
										typeSpeed: 150,
										fadeOut: true,
										showCursor: false ,
									  cursorChar: '|',
									  autoInsertCss: true,
									});
								</script>
							</a>
					</li>
					<li>
							<a href="#4">
								<img class="avatar-custom" src="./img/miro.jpg" alt="">
								<div class="text-apple text-pull-none">
									<span id="typing_ramiro" >
										<p>ramiro</p>
									</span>
									<span id="typed_ramiro"></span>
								</div>
								<script type="text/javascript">
									var typed = new Typed('#typed_ramiro', {
    								stringsElement: "#typing_ramiro",
										startDelay: 4575,
										typeSpeed: 150,
										fadeOut: true,
										showCursor: false ,
									  cursorChar: '|',
									  autoInsertCss: true,
									});
								</script>
							</a>
					</li>
					<li>
							<a href="#5">
								<img class="avatar-custom" src="./img/fano.jpg" alt="">
								<div class="text-apple text-pull-none">
									<span id="typing_stefano" >
										<p>stefano</p>
									</span>
									<span id="typed_stefano"></span>
								</div>
								<script type="text/javascript">
									var typed = new Typed('#typed_stefano', {
    								stringsElement: "#typing_stefano",
										startDelay: 5925,
										typeSpeed: 150,
										fadeOut: true,
										showCursor: false ,
									  cursorChar: '|',
									  autoInsertCss: true,
									});
								</script>
							</a>
					</li>
		    </ul>
				<ul class="flexblock">
					<li>
							<a href="#6">
								<img class="avatar-custom" src="./img/saige.jpg" alt="">
								<div class="text-apple text-pull-none">
									<span id="typing_saige" >
										<p>saige</p>
									</span>
									<span id="typed_saige"></span>
								</div>
								<script type="text/javascript">
									var typed = new Typed('#typed_saige', {
    								stringsElement: "#typing_saige",
										startDelay: 7500,
										typeSpeed: 150,
										fadeOut: true,
										showCursor: false ,
									  cursorChar: '|',
									  autoInsertCss: true,
									});
								</script>
							</a>
					</li>
		    </ul>
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="lucy">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>lucy</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="alberto">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>alberto</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="ramiro">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>ramiro</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="stefano">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>stefano</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>
		<section id="saige">
			<!--.wrap = container (width: 90%) -->
			<div class="wrap size-50 aligncenter">
				<h2><strong>saige</strong></h2>
				<!-- .end .bg-white shadow -->
			</div>
			<!-- .end .wrap -->
		</section>

	</article>
	<!-- end article -->
</main>
<!-- end main -->

<!-- A global footer

 <footer role="contentinfo">
	<div class="wrap">
		<p>An <a href="https://github.com/webslides/webslides">open source solution</a>, by <a href="https://twitter.com/webslides">@webslides</a>.</p>
	</div>
</footer>  -->

<!-- Required -->
<script src="https://parraperez.com/js/webslides.js"></script>
<script>
	window.ws = new WebSlides();
</script>
{{ end }}
