<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<title>{{ .Title }}</title>
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

<!-- <script src="https://parraperez.com/js/typed.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>


<!-- CSS -->
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="stylesheet" href="https://parraperez.com/css/svg-icons.css">
<link rel="stylesheet" href="https://parraperez.com/css/webslides.css">
{{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}
